<!DOCTYPE html>

<html>

  <head>
   <title>GOAT Bowling Alley</title>
  </head>

  <body>
    <h1>Regular Hours</h1>
    <p>Monday to Thursday: 3pm - 22pm</p>
    <p>Friday to Sunday: 10am - 23pm</p>
  </body>

</html>
