<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>

 <% if 1 + 1 == 2 %>
   <% a = [1,2,3,4] %>
   <% u = [] %>
   <% a.each{|x| u << "number #{x}"}%>
   <h1><%u%> </h1>
 <% else %>
     <h1> no </h1>
 <% end %>

</body>

</html>
