<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>

 <% if 1 + 1 == 2 %>
   <% a = [1,2,3,4] %>
   <h1><%= a.each{|x| "number #{x}"}%></h1>
 <% else %>
     <h1> no </h1>
 <% end %>

</body>

</html>
  